:root {

    --brownone : #FAF8F1;
    --browntwo : #F8EAB9;
    --brownthree : #E5BA73;
    --brownfour : #C58940;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

body>div.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--browntwo);
}

header{
    width: 100%;
    height: 50px;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
}

header>nav{
    width: 100%;
    height: 50px;
    background-color: #D9EDBF;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

header>nav>ul{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

header>nav>ul li{
    display: inline;
    text-transform: capitalize;
    /* font-weight: bold; */
    padding: 0 20px;
}

header>nav>ul li> a{
    text-decoration: none;
    color: black;
}

.nav-item{
    border-right: 1px rgba(0, 0, 0, 0.8) solid;
}

header>nav>ul li:first-child{
    border-left: none;
}

header>nav>a{
    width: 10em;
    height: 2em;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 2em;
    text-decoration: none;
    color: black;
}

section.front{
    width: 80%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.front>h1{
    font-size: 30pt;
}

.front>p{
    font-size: 18pt;
}

section.content{
    width: 80%;
    height: 590px;
    /* background-color: green; */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

section.content>div.left{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    background-color: var(--brownone);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

.skill-container {
    display: flex;
    align-items: center;
}

.skill-name {
    width: 300px;
    font-weight: bold;
    color: #333; /* Warna teks */
}

.skill-bar1 {
    height: 20px;
    background-color: var(--brownthree); /* Warna latar belakang bar */
    border-radius: 10px; /* Setengah dari tinggi untuk membuat bentuk setengah lingkaran */
    position: relative;
    overflow: hidden;
}

.skill-bar1::before {
    content: '';
    position: absolute;
    width: calc(100% - 15px); /* Sisa width dari bar */
    height: 100%;
    background-color: var(--brownfour); /* Warna sisa width */
    border-radius: 0 10px 10px 0; /* Mengatur bentuk setengah lingkaran pada sisi kanan */
}

.skill-bar2 {
    height: 20px;
    background-color: var(--brownthree); /* Warna latar belakang bar */
    border-radius: 10px; /* Setengah dari tinggi untuk membuat bentuk setengah lingkaran */
    position: relative;
    overflow: hidden;
}

.skill-bar2::before {
    content: '';
    position: absolute;
    width: calc(100% - 10px); /* Sisa width dari bar */
    height: 100%;
    background-color: var(--brownfour); /* Warna sisa width */
    border-radius: 0 10px 10px 0; /* Mengatur bentuk setengah lingkaran pada sisi kanan */
}

.skill-bar3 {
    height: 20px;
    background-color: var(--brownthree); /* Warna latar belakang bar */
    border-radius: 10px; /* Setengah dari tinggi untuk membuat bentuk setengah lingkaran */
    position: relative;
    overflow: hidden;
}

.skill-bar3::before {
    content: '';
    position: absolute;
    width: calc(100% - 20px); /* Sisa width dari bar */
    height: 100%;
    background-color: var(--brownfour); /* Warna sisa width */
    border-radius: 0 10px 10px 0; /* Mengatur bentuk setengah lingkaran pada sisi kanan */
}

.skill-bar4 {
    height: 20px;
    background-color: var(--brownthree); /* Warna latar belakang bar */
    border-radius: 10px; /* Setengah dari tinggi untuk membuat bentuk setengah lingkaran */
    position: relative;
    overflow: hidden;
}

.skill-bar4::before {
    content: '';
    position: absolute;
    width: calc(100% - 15px); /* Sisa width dari bar */
    height: 100%;
    background-color: var(--brownfour); /* Warna sisa width */
    border-radius: 0 10px 10px 0; /* Mengatur bentuk setengah lingkaran pada sisi kanan */
}

.skill-bar5 {
    height: 20px;
    background-color: var(--brownthree); /* Warna latar belakang bar */
    border-radius: 10px; /* Setengah dari tinggi untuk membuat bentuk setengah lingkaran */
    position: relative;
    overflow: hidden;
}

.skill-bar5::before {
    content: '';
    position: absolute;
    width: calc(100% - 25px); /* Sisa width dari bar */
    height: 100%;
    background-color: var(--brownfour); /* Warna sisa width */
    border-radius: 0 10px 10px 0; /* Mengatur bentuk setengah lingkaran pada sisi kanan */
}

section.content>div.right{
    width: 45%;
    height: 280px;
    background-color: var(--brownone);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

div.right>h1{
    margin-bottom: 20px;

}

div.right> ul li{
    list-style-type: decimal;
    font-size: 13pt;
    margin: 3px 0;
}

footer{
    width: 80%;
    height: 50px;
    border-top: black 0.15em solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>p{
    padding: 10px 0;
}